<Headers>
    <header class="header">
        <div class="content">
            <div class="logo">
                <a href="#">
                    <h1>
                        Инком
                    </h1>
                    <h2>
                        Недвижимость
                    </h2>
                </a>
            </div>
        </div>
    </header>
</Headers>